{% extends "base.html" %}


{% block title %}
Текущая конфигурация
{% endblock title %}


{% block header %}
<header class="detail-header">
	{% comment %} <a href="/main" class="back-to-main">Назад</a> {% endcomment %}
	<a href="/main" class="company-name"><img src="http://127.0.0.1:9000/service/logo.svg" alt="Логотип" class="logo"> Nimbus</div></a>
</header>
{% endblock header %}


{% block content %}
<div class="content"> 
	<div class="configuration-content">
		<h1 class="configuration-title">Текущая конфигурация</h1>

		{% comment %} <div class="card configuration-card">
			<img src="http://127.0.0.1:9000/assets/plane-g7500.png" alt="g7500" class="card-img configuration-card-img">
			<div class="card-text configuration-card-text">
				<h1 class="card-title">Global 7500</h1>
				<h2 class="card-key-info">19 пассажиров</h2>
				<p class="card-category">Самолет</p>
				<div class="card-bottom">
					<p class="card-price">От $ 60.000.000,00</p>
					<form method="get" action="/detail" class="detail-form">
						<button type="submit" class="card-detail">
							Подробнее
						</button>
					</form>
				</div>
				
			</div>
		</div> {% endcomment %}

		{% for element in config_elements %}
        <div class="card configuration-card">
            <img src="{{ element.image }}" alt="{{ element.name }}" class="card-img configuration-card-img">
            <div class="card-text configuration-card-text">
                <h1 class="card-title">{{ element.name }}</h1>
                <h2 class="card-key-info">{{ element.key_info }}</h2>
				<h2 class="card-key-info">{{ plane }}</h2>
                <p class="card-category">{{ element.category }}</p>
                <div class="card-bottom">
                    <p class="card-price">$ {{ element.price|floatformat:2 }}</p>
                    <form method="get" action="/detail/{{ element.id }}" class="detail-form">
                        <button type="submit" class="card-detail">
                            Подробнее
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}



		<div class="configuration-info">
			<p class="configuration-info-text">Как Вас зовут?</p>
			<input type="text" class="name-input" placeholder="ФИО" disabled value="{{ customer_name }}">
			<p class="configuration-info-text">Номер телефона</p>
			<input type="text" class="phone-input" placeholder="Телефон" disabled value="{{ customer_phone }}">
			<p class="configuration-info-text">Самолет</p>
			<input type="plane" class="plane-input" placeholder="plane_name" disabled value="{{ plane }}">
			<p class="configuration-id-text">ID конфигурации</p>
			<input type="text" class="id-input" disabled value="{{ configuration_id }}">
			<p class="configuration-amount-text">Стоимость конфигурации</p>
			<input type="text" class="amount-input" disabled value="$ {{ configuration_amount|floatformat:2 }}">
		</div>
		
	</div>
</div>
{% endblock content %}


{% block footer %}
<footer class="global-footer">
	<a href="/main" class="footer-element company-name"><img src="http://127.0.0.1:9000/service/logo-white.svg" alt="Логотип" class="logo"> Nimbus</div></a>
	<div class="footer-element about">
		<a href="#" class="about-text">О нас</a>
		<a href="https://vk.com/" class="social-network vk"><img class="logo" src="http://127.0.0.1:9000/service/vk-white.svg" alt="VK"></img></a>
		<a href="https://telegram.org/" class="social-network tg"><img class="logo" src="http://127.0.0.1:9000/service/tg-white.svg" alt="Telegram"></img></a>
	</div>
</footer>
{% endblock footer %}