{% extends "base.html" %}


{% block title %}
{{ name }} {{ type }}
{% endblock title %}


{% block header %}
<header class="detail-header">
	{% comment %} <a href="/main" class="back-to-main">Назад</a> {% endcomment %}
	<a href="/main" class="company-name"><img src="http://127.0.0.1:9000/service/logo.svg" alt="Логотип" class="logo"> Nimbus</div></a>
</header>
{% endblock header %}


{% block content %}
<div class="content"> 
	<div class="detail-card">
		<h1 class="detail-card-title">{{ name }}</h1>
		<div class="detail-card-img-container">
            <img src="http://127.0.0.1:9000/assets/{{ image }}" alt="{{ name }}" class="detail-card-img">
        </div>
		<p class="detail-card-text">  {{ detail_text }}</p>
			<h2 class="detail-card-price">
				Стоимость
				{% if type == "floorplan" %}
					планировки
				{% elif type == "design" %}
					дизайна
				{% elif type == "avionics" %}
					авионики
				{% elif type == "engine" %}
					двигателя
				{% endif %}: $ {{ price|floatformat:2}}
			</h2>			
	</div>
</div>
{% endblock content %}


{% block footer %}
<footer class="global-footer">
	<a href="/main" class="footer-element company-name"><img src="http://127.0.0.1:9000/service/logo-white.svg" alt="Логотип" class="logo"> Nimbus</div></a>
	<div class="footer-element about">
		<a href="#" class="about-text">О нас</a>
		<a href="https://vk.com/" class="social-network vk"><img class="logo" src="http://127.0.0.1:9000/service/vk-white.svg" alt="VK"></img></a>
		<a href="https://telegram.org/" class="social-network tg"><img class="logo" src="http://127.0.0.1:9000/service/tg-white.svg" alt="Telegram"></img></a>
	</div>
</footer>
{% endblock footer %}