{% extends 'base.html' %}

{% block title %}Cessna Citation Longitude{% endblock %}

{% block header %}
<a href="index.html"><h1 class="company-name">NIMBUS</h1></a>
<nav class="navbar">
  <ul class="nav-list">
	<li class="nav-item">
	  <p class="nav-label">Бизнес-джеты</p>
	</li>
	<li class="nav-item">
	  <p class="nav-label">Турбовинтовые самолеты</p>
	</li>
	<li class="nav-item">
	  <p class="nav-label">Поршневые самолеты</p>
	</li>
	<!-- Корзина -->
	<li class="nav-item orders">
		<p class="nav-label">Заказы</p>
	</li>
	<li class="nav-item search-item">
		<div class="search-box">
		  <input type="text" placeholder="Search..." class="search-input">
		  <button class="search-button">
			<img src="http://127.0.0.1:9000/service/search.png" alt="Search" class="search-icon">
		  </button>					  
		</div>
	</li>  
  </ul>
</nav>
{% endblock %}


{% block content %}
<div class="detail">
	<nav class="detail-navbar">
		<ul class="detail-nav-list">
			<li class="detail-nav-item"><a href="index.html"><h1 class="detail-nav-item plane-name">Cessna Citation Longitude</h1></a></li>
			<li class="detail-nav-item"><a href="#" class="detail-nav-label">Обзор</a></li>
			<li class="detail-nav-item"><a href="#" class="detail-nav-label">Интерьер</a></li>
			<li class="detail-nav-item"><a href="#" class="detail-nav-label">Авионика</a></li>
			<li class="detail-nav-item"><a href="#" class="detail-nav-label">Характеристики</a></li>
			<li class="detail-nav-item"><a href="#" class="detail-nav-label">Текущая конфигурация</a></li>
		</ul>
	</nav>
	<div class="airplane-info">
		<h2>ВАШЕ ВРЕМЯ БЕСЦЕННО.</h2>
		<div class="specs">
			<div>Дальность полета с 4 пассажирами: <strong>до 3500 морских миль</strong></div>
			<div>Максимальная круизная скорость: <strong>483 узла</strong></div>
			<div>Максимальная число пассажиров: <strong>12 человек</strong></div>
			<div>Полезная загрузка при полном баке: <strong>1600 фунтов</strong></div>
		</div>
	</div>
</div>
{% endblock %}


{% block footer %}
<div class="footer-content">
	<div class="footer-section about">
		<h3>О компании</h3>
		<p><strong>NIMBUS</strong> — лидер на рынке частных самолетов. Мы предлагаем лучшие решения для бизнес-авиации и частных путешествий.</p>
	</div>
	<div class="footer-section links">
		<h3>Социальные сети</h3>
		<p><a href="#">VK</a></p>
		<p><a href="#">Telegram</a></p>
	</div>
</div>
<div class="footer-bottom">
	&copy; 2024 <strong>NIMBUS</strong>
</div> 
{% endblock %}