{% extends "base.html" %}

{% block title %}
Nimbus
{% endblock title %}

{% block header %}
<header class="global-header">
    <a href="/" class="company-name"><img src="http://127.0.0.1:9000/service/logo.svg" alt="Логотип" class="logo"> Nimbus</a>
</header>
{% endblock header %}

{% block content %}
<div class="content">
    <div class="container">
        <div class="top-container">
            <form method="get" action="{% url 'configuration_elements' %}" class="filter-form">
                <div class="filter">
                    <label for="categories">Категория:</label>
                    <select name="categories" id="categories">
                        <option value="" {% if not selected_category %}selected{% endif %}>Выберите категорию</option>
                        <option {% if selected_category == 'Компоновка салона' %}selected{% endif %}>Компоновка салона</option>
                        <option {% if selected_category == 'Дизайн салона' %}selected{% endif %}>Дизайн салона</option>
                        <option {% if selected_category == 'Авионика' %}selected{% endif %}>Авионика</option>
                        <option {% if selected_category == 'Двигатель' %}selected{% endif %}>Двигатель</option>
                    </select>
                </div>
    
                <div class="price-filter">
                    <p class="price-filter-text">Цена от</p>
                    <input name="price_min" type="number" class="price-input" placeholder="0" value="{{ selected_price_min }}">
                    <p class="price-filter-text">до</p>
                    <input name="price_max" type="number" class="price-input" placeholder="∞" value="{{ selected_price_max }}">
                </div>
    
                <button type="submit" class="filter-btn">
                    Фильтровать
                </button> 
            </form>

            <div class="configuration">
                {% if current_configuration %}
                <form method="get" action="{% url 'configuration' current_configuration.id %}" class="configuration-form">
                    <a href="{% url 'configuration' current_configuration.id %}" class="to-configuration">
                        <img class="cart-img" src="http://127.0.0.1:9000/service/plane.svg" alt="">
                        <div class="counter-circle">    
                            <p class="counter">
                                {{ configuration_counter }}
                            </p>
                        </div>
                    </a>
                </form>      
                {% else %}
                    <p>У вас нет текущей конфигурации.</p>
                {% endif %}
            </div>
        </div>    
        
        <div class="card-container">
            {% for configuration_element in configuration_elements %}
                <div class="card">
                    <img src="{{ configuration_element.image }}" alt="{{ configuration_element.name }}" class="card-img">
                    <div class="card-text">
                        <h1 class="card-title">{{ configuration_element.name }}</h1>
                        <h2 class="card-key-info">{{ configuration_element.key_info }}</h2>
                        <div class="card-middle">
                            <p class="card-category">{{ configuration_element.category }}</p> 
                            <form method="post" class="add-form" action="{% url 'add_element_to_configuration' configuration_element.id%}">
                                {% csrf_token %}
                                <button type="submit" class="add-btn" >
                                    Добавить
                                </button>
                            </form>
                        </div>
        
                        <div class="card-bottom">
                            <p class="card-price">$ {{ configuration_element.price|floatformat:2 }}</p>
                            <form method="get" action="{% url 'configuration_element' configuration_element.id %}">
                                <button type="submit" class="card-detail">
                                    Подробнее
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
<footer class="global-footer">
    <a href="/" class="footer-element company-name"><img src="http://127.0.0.1:9000/service/logo-white.svg" alt="Логотип" class="logo"> Nimbus</a>
    <div class="footer-element about">
        <a href="#" class="about-text">О нас</a>
        <a href="https://vk.com/" class="social-network vk"><img class="logo" src="http://127.0.0.1:9000/service/vk-white.svg" alt="VK"></a>
        <a href="https://telegram.org/" class="social-network tg"><img class="logo" src="http://127.0.0.1:9000/service/tg-white.svg" alt="Telegram"></a>
    </div>
</footer>
{% endblock footer %}





