@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    /* color: #000000; */
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
	appearance: none;
	border: none;
}

a {
    cursor: pointer;
	text-decoration: none;
    color: #000;
}

a:visited {
	color: black;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: #FFFFFF;
}

/* Header */

.global-header {
	background-color: #FFFFFF;
	padding: 20px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 24px;
	font-weight: 500;
	position: relative; 
	min-height: 49px;
}

.back-to-plane {
    padding: 10px;
}

.company-name {
	font-size: 32px;
	font-weight: 700;
	display: flex;
	align-items: center;
    justify-content: center;
	transition: color ease 0.3s; 
}

.company-name:hover {
	color: #84684e;
}

header a.company-name {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}


/* Detail header */

.detail-header {
    background-color: #FFFFFF;
	padding: 20px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 24px;
	font-weight: 500;
	position: relative; 
	min-height: 49px;
}

.back-to-main {
    padding: 10px;
}


/* Start header */

.start-header {
    background-color: #FFFFFF;
    padding: 25px;

	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	font-weight: 500;
}

.start-company-name {
    font-size: 32px;
	font-weight: 700;
	display: flex;
	align-items: center;
    justify-content: center;
}

/* Content */

.content {
	background-color: #FFFFFF;
	border-top: 3px solid #DCDEDC;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding: 0;
    padding-bottom: 20px;
	width: 1120px;
}


.configuration {
	font-size: 24px;
	font-weight: 700;
	padding: 10px;
	display: flex;
	gap: 10px;
	flex-direction: row;
}

.to-configuration {
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    cursor: pointer;
    background-color: transparent;
    transition: color ease 0.3s; 
}

.to-configuration:hover {
    color: #84684e;
}


.counter-circle {
	width: 29px;
	height: 29px;
	background-color: #dcdedc;
	border-radius: 50%;
	display: flex;
	align-items: center;
    justify-content: center;
}

.counter-circle {
	font-size: 14px;
	font-weight: 700;
    margin: 0;
}

.filter-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
}

.filter {
	width: 520px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	font-weight: 700;
	align-items: center;
}

#categories {
	width: 390px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	font-size: 16px;
	appearance: none;
}

.price-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 520px;
    justify-content: space-between;
}

.price-filter-text {
    font-size: 16px;
    font-weight: 700;
}

.price-input {
    font-size: 16px;
    padding: 10px;
    width: 180px;
    appearance: none;
    border: 1px solid black;
	border-radius: 5px;
	background-color: white;
}

.filter-btn {
    padding: 10px;
    background-color: #000000;
	color: white;
    border-radius: 16px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease; 
	font-size: 16px;
    font-weight: 500;
	outline: none;
}

.filter-btn:hover {
    background-color: #89674A;
}

.filter-btn:active {
    background-color: #DCDEDC;
}

/* Add transition for text color */
.filter-btn, .filter-btn-text {
    transition: color 0.3s ease; /* Transition for text color */
}

/* Change text color to black when the button is active */
.filter-btn:active, .filter-btn-text {
    color: #000000;
}

.filter-btn-text {
    font-size: 16px;
    font-weight: 500;
    color: white; /* Default text color */
}

.card-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}


/* Detail content */

.detail-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
	gap: 20px;
	padding: 20px;
	width: 660px;
}

.detail-card-title {
    font-size: 32px;
    font-weight: 600;
    color: #003e51;
}

.detail-card-img-container {
    width: 100%; /* Установите ширину контейнера по вашему усмотрению */
    height: 400; /* Установите высоту контейнера по вашему усмотрению */
    overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.detail-card-img {
    width: 100%;
    height: auto; /* Автоматически сохраняет пропорции */
    object-fit: cover; /* Обрезает изображение по размерам контейнера */
}


.detail-card-text {
    font-size: 20px;
    font-weight: 500;
}

.detail-card-price {
    font-size: 24px;
    font-weight: 700;
}


/* Start content */ 

.plane-container {
    display: grid;
    padding: 40px;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

/* Configuration content */

.configuration-content {
    padding: 10px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 740px;
    align-items: center;
    justify-content: center;
}

.configuration-title {
    font-size: 32px;
    font-weight: 600;
    color: #1B3C50;
	margin-bottom: 20px;
}

.configuration-info {
	display: grid;
	gap: 15px;
	grid-template-columns: 1fr 2fr;
	justify-content: space-between;
}

.name-input, .phone-input, .plane-input, .id-input, .amount-input {
	font-size: 16px;
    padding: 10px;
    width: 230px;
    appearance: none;
    border: 1px solid black;
	border-radius: 5px;
	background-color: white;
}

.configuration-info-text {
	align-content: center;
}

.configuration-id-text, .configuration-amount-text {
	align-content: center;
	font-weight: 600;
}

/* Card */

.card, .configuration-card {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 320px;
	height: 360px;
	background-color:#DCDEDC;
	font-size: 16px;
	font-weight: 500;
}

.card-img {
	max-width: 320px;
	max-height: auto;
	align-self: auto;
}

.card-text, .configuration-card-text {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
}

.card-title, .card-key-info {
	font-size: 20px;
	font-weight: 600;
	color: #003e51;
}

.card-key-info {
	font-size: 16px;
}

.card-category {
	font-size: 14px;
	font-weight: 600;
	color: #666666;
}

.card-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center
}

.card-price {
	font-weight: 700;
}

.card-detail {
	color: white;
	padding: 10px;
	background-color: #000000;
	border-radius: 16px;
	font-weight: 700;
    transition: background-color 0.3s ease; 
}

.card-detail:hover {
    background-color: #89674A;
}

.card-detail:active {
    background-color: #DCDEDC;
}

.card-detail-text {
	color: #FFFFFF
}

.card-detail:active, .card-detail-text {
    color: #000000;
}

/* Configuration card */ 

.configuration-card {
	width: 680px;
	height: 380px;
	align-items: center;
}

.configuration-card-text {
	width: 660px;
	height: 180px;
	gap: 10px;
	padding: 10px;
}

.configuration-card-img {
	margin-top: 40px;
}

/* Footer */

.global-footer {
	background-color: #000000;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	height: 140px;
    background-image: url("http://127.0.0.1:9000/service/footer-pattern.svg");
    background-position: center center;
}

img.logo {
	width: 30px;
	height: 30px;
}

.about {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 170px; /* Adjust as needed */
	font-size: 24px;
	font-weight: 500;
}

.social-network {
	width: 30px;
	height: 30px;
}

.footer .company-name a:visited {
    color: white;
}
  
.about-text {
    font-size: 24px;
    font-weight: 500;
    color: white;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

.about-text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #89674A;
    transition: width 0.3s ease, left 0.3s ease;
}

.about-text:hover {
    color: #89674A; /* Цвет текста при наведении */
}

.about-text:hover::after {
    width: 100%; /* Полоса подчеркивания расширяется на всю ширину текста */
    left: 0;
}

  
.footer-element.company-name {
	padding: 40px;
}

.global-footer a {
    color: white;
}

