@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: #EFEFEF;
}

.space {
    margin-left: auto;
    margin-right: auto;
	min-height: 100vh;
}

/* Global header */

.header {
    display: flex;
    align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 40px;
    border-top: 3px solid #1E90FF;
}

.company-name {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    display: flex;
	color: white;
    align-items: center;
    height: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    margin-left: 20px;
	margin-right: 20px;
    width: 100%;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    flex: 1;
}

.nav-item {
    padding: 20px; /* Увеличенный padding для элементов навбара */
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* высота для всех элементов навбара */
    transition: background-color 0.3s ease; /* Плавный переход цвета */
}

.nav-item:hover {
    background-color: #3775b8; 
    color: #fff; 
}

.nav-label {
    font-size: 16px;
    font-weight: 500;
	color: white;
}

.search-item:hover {
    background-color: transparent;
}

.search-item {
    width: 260px;
    display: flex;
    align-items: center;
    margin-left: auto; /* Сдвигает контейнер поиска вправо */
    padding: 20px; /* Паддинг вокруг контейнера */
}

.search-box {
    display: flex;
    border: 1px solid #ffffff;
    border-radius: 5px;
    overflow: hidden;
    flex: 1; /* Позволяет полю поиска занимать доступное пространство */
}

.search-input {
    border: none;
    padding: 8px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    flex: 1; /* Заполняет доступное пространство внутри контейнера поиска */
}

.search-button {
    background: none;
    border: none;
    padding: 8px;
    width: 30px;
    height: 30px;
    color: white;
    background-color: white;
    cursor: pointer;
}



.search-input::placeholder {
    color: rgba(255, 255, 255, 0.2);
}

a {
    text-decoration: none;
    color: inherit; /* Наследование цвета текста */
}


/* КОНТЕЙНЕР И ВНУТРЕННИЕ ЭЛЕМЕНТЫ */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
	flex: 1;
	width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.card {
    border-radius: 20px;
    background-color: #FFFEFE;
    width: 350px;
    height: 380px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image {
    border-radius: 20px;
    object-fit: cover;
    width: 310px;
    height: 120px;
}

.title {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 700;
}

.short-description {
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    height: 102px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.passenger-count {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 600;
}

.card-button {
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.down {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.down p {
    font-size: 16px;
    font-weight: 600;
}

/* Detail */
.detail {
    background-image: url("http://127.0.0.1:9000/longitude-detail/jet-longitude-header.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}



/* Стили для детального навигационного меню */
.detail-navbar {
    padding: 20px;
    text-align: center;
}

.plane-name {
    color: white;
    font-size: 32px;
    padding-left: 20px;
    padding-right: 20px;
}

.detail-nav-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.detail-nav-item {
    list-style-type: none;
}

.detail-nav-label {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

.detail-nav-label:hover {
    text-decoration: none;
}

/* Дополнительные стили для основной информации самолета */
.detail {
    background-image: url("http://127.0.0.1:9000/longitude-detail/jet-longitude-header.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding: 20px;
}

.airplane-info h1 {
    font-size: 36px;
    font-weight: 700;
}

.airplane-info h2 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}

.specs {
    font-size: 16px;
    line-height: 1.6;
}

.specs div {
    margin-bottom: 10px;
}



/* Global footer */
.footer {
    background-color: #FFFEFE; 
    padding: 20px;
    margin-top: 40px;
    border-top: 3px solid #1E90FF;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.footer-section {
    max-width: 200px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section a {
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 5px;
    display: block;
}

.footer-section a:hover {
    color: #1e90ff; /* Синий цвет при наведении */
}

.footer-bottom {
    text-align: left;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
}
